<div id="wrapper" style="width:100%; text-align:center">
  <h2>Update Password</h2>
</div>
<div id="password_reset_block">
	<% form_tag password_reset_path, :method => :put do %>
	  <div class="form_entry">
	      <label for="password">New Password</label>
	      <input name="password" type="password" class="input-control pull-right"/>
	    </div>
	    <div class="from_entry">
	    	<label for="password_confirmation">Confrim Password</label>
	    	<input name="password_confirmation" type="password" class="input-control pull-right"/>
	    </div>
	  <button type="submit" class="btn" id="login_button">Update</button>
	<% end %>
</div>
