<div id="wrapper" style="width:100%; text-align:center">
  <h2>Reset Password</h2>
</div>
<div id="password_reset_block">
	<%= form_tag password_resets_path do %>
	<div class="form_entry">
		<label for="email">Email</label>
	  	<input name="email" class="input-control pull-right"/>
	 </div>
	  <button type="submit" class="btn" id="login_button">Submit</button>
	<% end %>
</div>