<div class="comment_box">
	<%= comment.body.html_safe %> <br/>
	<div class="comment_bottom">
		<%= comment.user.name %>
		<span class="gray">on
		<%=(comment.created_at).strftime("%I.%P,  %d %b %Y")%>
		</span> 
	</div>
	<hr class="comment_bottom_line" />
</div>
