<div id="delete_confirm">
	Are you sure you want to delete this entry ?
	<div class="pull-right">
		<button id="delete_task" onclick="delete_task(<%= @id %>)">Yes</button>
		<button id="cancel_delete" onclick="cancel_delete(<%= @id %>)">No</button>
	</div>
</div>