<div id="delete_confirm">
	Are you sure want to delete 
	<div class="pull-right">
		<button id="delete_task" onclick="delete_task(<%= @id %>)">yes</button>
		<button id="cancel_delete" onclick="cancel_delete(<%= @id %>)">cancel</button>
	</div>
</div>