/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  /*width:1366px ;
  height:768px ;
*/  margin-bottom: 60px;
  background-color: #e8e8e8;
  font-size: 14px;
}
.container {
  width: 650px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-control { margin-bottom: 10px; }
#signup_container {
  margin:0 auto;
  width:1000px;
}
.task {
position: relative;
padding: 30px 25px;
/*border-bottom: 1px dashed #eaeaea;*/
min-height: 80px;
width: 600px;
background-color:#f4f4f4;
border-width: 1px;
border-style: solid;
border-color:#cccccc;
margin-bottom: 20px;
font-family: "Open Sans";
font-weight: 100;
font-size: 16px;
color:#34495e;
margin:20px auto;
}
.task-checkbox {
float: left;
width: 30px;
}
#logo_image {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 41px;
}
#login_block {
    border-radius: 3px;
    width: 600px;
    min-height: 350px;
    background-color: #ffffff;
    margin: 0 auto;
    box-shadow: 1px 3px 0px 0.00px #d5d5d5;
}
#signup_block {
  border-radius: 3px;
  width: 600px;
  min-height: 523px;
  background-color: #ffffff;
  margin: 0 auto;
}
#login_top {
  padding-top: 37px;
  padding-left: 30px;
  padding-right:30px;
  padding-bottom: 32px;
  font-family: "Open Sans";
  font-weight: 100;
  /*font-weight: 300; */
  font-size: 25px;
}

.active {
  color:#34495e;
}
.inactive {
  color:#cccccc;
}
.inactive:hover {
  color:#34495e;
}
#login {
  padding: 30px;
}
#signup {
  padding: 30px;
}
.input-control {
  height: 50px;
  width:370px;
  border-color: #CBCBCB;
  border-width: 1px;
  padding-left: 20px;
  background-color: #F1F1F1;
  border-style: solid;
  border-radius: 3px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.input-control:focus {
  background-color: white;
}
label {
  float: left;
  font-family: "Open Sans";
  font-weight: 100;
  font-size: 18px;
  margin-top: 13px;
}
#login_button {
  width:174px;
  height: 50px;
  background-color: #00BB9B;
  border-radius: 2px;
  margin-left: 170px;
  color: white;
  font-size:20px;
  font-weight: bold;
  border-width: 0px;
  font-family: "Open Sans";
  font-weight: bold;
}
div.form_entry {
  overflow: hidden;
}
a#forgot_password {
  color:#34495e;
  margin-left: 30px;
  text-decoration: underline;
}
#login-bottom {
  margin-top: 20px;
}
#input_task {
  width: 600px;
  height:50px;
  /*height:20px;*/
  box-shadow: 1px 3px 0px 0.00px #d5d5d5;
  border-style: none;
  margin:0;
  padding-left: 50px;
}
#input_task:focus {
  border-color: #1bbc9b;
  border-style: solid;
  border-width: 1px;
  box-shadow: none;
}
button {
  border-style: none;
  margin-left: 17px;
}
/* Sprite Section */
.delete_button { 
  background: url('/images/iconsprite.png') no-repeat -83px -11px; 
  width: 14px; 
  height: 14px;
}
.delete_button:hover {
  background: url('/images/iconsprite.png') no-repeat -83px -47px;
}
.up_button {
  background: url('/images/iconsprite.png') no-repeat -48px -14px; 
  width: 12px; 
  height: 9px;
}
.down_button {
  background: url('/images/iconsprite.png') no-repeat -12px -13px; 
  width: 12px; 
  height: 9px;
}
.up_button:hover {
  background: url('/images/iconsprite.png') no-repeat -48px -50px; 
}
.down_button:hover {
  background: url('/images/iconsprite.png') no-repeat -12px -49px;
}
.check_button {
  background: url('/images/iconsprite.png') no-repeat -145px -1px; 
  width: 34px; 
  height: 34px;
}
.uncheck_button {
  background: url('/images/iconsprite.png') no-repeat -145px -73px; 
  width: 34px; 
  height: 34px;
}
.check_button:hover {
  background: url('/images/iconsprite.png') no-repeat -145px -37px;
}
.uncheck_button:hover {
  background: url('/images/iconsprite.png') no-repeat -145px -109px;
}
#input_img {
  background: url('/images/iconsprite.png') no-repeat -116px -8px; 
  width: 20px; 
  height: 20px;
 position:absolute;
  bottom:15px;
  left:10px;
  /*width:10px;
  height:10px;*/
}
#input {
  width: 600px;
  height:50px;
  position:relative;
  padding:0;
  background:#ddd;
  margin: 0 auto;
  margin-bottom: 50px;

}
.time {
  font-family: "Open Sans";
  font-size: 12px;
  color:#999999;
  font-weight: 100;
}
#top_nav {
  width: 600px;
  margin: 0px auto;
  margin-bottom: 20px;
}
#tab_nav {
  margin: 0px auto;
  padding-left: 0px;
  margin-bottom: 20px;
  display: inline-flex;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
a:hover{
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
#logout,#profile_link {
  font-family: "Open Sans";
  font-weight: 100;
  padding-left: 10px;
  font-size: 16px;
  /*color:#cccccc;*/
  color: #999;
}
#logout:hover,#profile_link:hover {
  color:#34495e;
}
#profile_menu {
  display: inline-block;
}
button#delete_task {
  color: #34495e;
  border-width: 1px;
  border-radius: 3px;
  border-color: #999999;
  border-style: solid;
  width: 85px;
  height: 30px;
  font-weight: bold;
  background-color: white;
}
button#cancel_delete {
  background-color: white;
  text-decoration: underline;
  width: 85px;
  height: 30px;
}
#input_task:focus {
  border-color: #1bbc9b;
  border-style: solid;
  border-width: 1px;
}
.button_block {
  text-align: end;
}
.button_block button {
  vertical-align: middle;
}
#menu_list  a {
  padding: 10px;
  text-align: left;
}
#password_reset_block {
  border-radius: 3px;
  padding: 20px;
  width: 600px;
  min-height: 200px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 1px 3px 0px 0.00px #d5d5d5;

}
#infscr-loading {
  text-align: center;
}
#load_next {
  text-align: center;
  
}
#task_link {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;

  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('empty.gif');
}
#search_button{
  /*margin-left: 20px;*/
  height: 30px;
  width: 150px;
  border-style: solid;
  border-color: #CBCBCB;
  background-color: #E7E7E7;
  border-radius: 3px;
  border-width: 1px;
}
.nav_button {
  margin: 0;
  margin-left: -7px;
  width: 75px;
  height: 30px;
  background-color: #E7E7E7;
  border-color: #CBCBCB;
  border-style: solid;
  border-radius: 3px;
}
button.active {
  background-color: #F4F4F4;
}
#show_task_box {
  width:592px;
  min-height:200px;
  background-color: #FFFFFF;
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #CBCBCB;
}
#comment_list{
  width: 592px;
  border-width: 1px;
  border-style: solid;
  border-color: #CBCBCB;
  margin-right: 0px;

}
.comment_box {
  width: 590px;
  background-color: #F4F4F4;
  min-height: 100px;
  padding: 20px;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 0px;
}
.comment_bottom_line {
  border-color: #D4D4D4;
  background-color:#D4D4D4;
  color: #D4D4D4;
  text-align: center;
  margin: 0;
  margin-top: 20px;
}
#comment_list > div:last-of-type  .comment_bottom_line {
  visibility: hidden;
}
#comment_body {
  width: 600px;
  height:50px;
  /*height:20px;*/
  margin-top: 20px;
  box-shadow: 1px 3px 0px 0.00px #d5d5d5;
  border-style: none;
  margin:0;
  padding-left: 10px;
}
#new_comment {
  margin-top: 20px;
}
.ui-slider .ui-slider-handle {
    height: 20px;
    width: 5px;
    padding-left: 5px; //add this
}
.ui-slider {
  height:20px;
  border-radius: 0px;
}
.ui-slider-horizontal .ui-slider-handle {
top:0px;
margin-left: -5px;
display:none;
}
.task-name {
  font-size: 20px;
}
.green {
  color: #1abc9c;
}
.gray {
  color: #C0C0C0;
}
.ui-slider-horizontal .ui-slider-range {
  border-radius: 0;
}
#task_list > div:first-of-type div .up_button{ 
  display: none; 
}
#task_list > div:last-of-type div .down_button{ 
  display: none;
}
.user_div {
  display: inline-flex;
  width:165px;
  margin-bottom: 10px;
}
#button_group {
  text-align: left;
  padding-left: 15px;
padding-bottom: 10px;
}
#top_nav nav {
  padding-right: 0px;
}
#back_menu {
  margin-bottom: 20px;
  font-size: 16px;
}
#share_button {
  padding: 5px;
  height: 30px;
  width: 90px;
  border-radius: 3px;
  background-color: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  border-color: #989898;
  color: #33495E;
  margin-left: 0px;
  margin-top: 5px;
}
#save_share_button {
  padding: 5px;
  height: 30px;
  width: 90px;
  border-radius: 3px;
  background-color: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  border-color: #989898;
  color: #33495E;
}
.comment_bottom {
  font-size: 12px;
  padding-top: 10px;
}
#cancel_share_button {
  border-width: 0px;
  background-color: white;
  color: #33495E;
  text-decoration: underline;
}