<div id="login_block">
<div id="login">
    <% form_for :user,:controller=>"users",:action=>"login",:html=>{:class=>"form-signin_backup"} do |user_form| %>
    	<div class="form_entry">
            <%= user_form.label :password %>
            <%= user_form.password_field :password, :placeholder=>"Password",:type=>"New password",:id=>"inputpassword",:class=>"input-control pull-right",:required=>"true" %>
        </div>
        <div class="form_entry">
        	<%= user_form.label :confirm_password %>
        	<%= user_form.password_field :password_confirmation, :placeholder=>"Confirm Password",:type=>"password",:id=>"inputpassword",:class=>"input-control pull-right",:required=>"true" %>
        </div>
        <div id="login-bottom">
        	<button class="" type="submit" id="login_button">Change</button> 
    <% end %>
</div>
</div>