<div id="back_menu"><a href="/tasks">< Go Back to home</a></div>
<div class="todo_block">
    <div class="well well-sm profile">
        <div class="media">
            <a class="thumbnail pull-left" href="#">
                <img class="media-object" src="http://placehold.it/150x150">
            </a>
            <div class="media-body">
                <h4 class="media-heading"><%= @user.name %></h4>
        		<p><span class="label label-info"><%= @user.tasks.count %> tasks</span> <span class="label label-warning"><%= @user.friends.count %> friends</span></p>
                <p>
                    <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span> Message</a>
                    <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-heart"></span> Favorite</a>
                    <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-ban-circle"></span> Unfollow</a>
                </p>
            </div>
        </div>
    </div>
</div>
